<ion-app>
  <div class="ion-padding">
    <ion-icon aria-label="this airplane makes you fly" name="airplane-outline"></ion-icon>
  </div>
  <div class="ion-padding">
    <ng-container>
      <ion-icon ariaHidden="true" name="airplane-outline"></ion-icon>
      <span class="sr-only">this airplane makes you fly</span>
    </ng-container>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>Do the thing</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item><label for="mybox">Do the other thing</label>
      <input id="mybox" name="mybox" type="checkbox">
    </ion-item>
  </ion-list>
</ion-app>
